---
# File merging tasks for ansible-role-dotmodules
# This handles files that need to be merged rather than stowed

- name: Collect mergeable files from all modules
  ansible.builtin.set_fact:
    all_mergeable_files: "{{ all_mergeable_files | default([]) + (collected_configs[item].mergeable_files | default([])) }}"
  loop: "{{ dotmodules.install }}"

- name: Get unique mergeable files
  ansible.builtin.set_fact:
    unique_mergeable_files: "{{ all_mergeable_files | unique }}"

- name: Create merged files directory
  ansible.builtin.file:
    path: "{{ dotmodules.dest }}/merged"
    state: directory

- name: Merge files from all contributing modules
  ansible.builtin.template:
    src: "merged_file.j2"
    dest: "{{ dotmodules.dest }}/merged/{{ item }}"
    mode: '0644'
  loop: "{{ unique_mergeable_files }}"
  vars:
    target_file: "{{ item }}"
    contributing_modules: "{{ dotmodules.install }}"

- name: Unstow merged files if already stowed
  ansible.builtin.command: >-
    stow -D -d "{{ dotmodules.dest }}/merged" -t "{{ home_dir }}" .
  when: unique_mergeable_files | length > 0
  ignore_errors: yes

- name: Check status of conflicting merged files
  ansible.builtin.stat:
    path: "{{ home_dir }}/{{ item }}"
    follow: no
  loop: "{{ unique_mergeable_files }}"
  register: file_status_check
  when: unique_mergeable_files | length > 0

- name: Remove existing files (will be replaced by stow symlinks)
  ansible.builtin.file:
    path: "{{ home_dir }}/{{ item.item }}"
    state: absent
  loop: "{{ file_status_check.results | default([]) }}"
  when: >
    unique_mergeable_files | length > 0
    and item.stat is defined
    and item.stat.exists

- name: Deploy merged files using stow
  ansible.builtin.command: >-
    stow -d "{{ dotmodules.dest }}/merged" -t "{{ home_dir }}" .
  when: unique_mergeable_files | length > 0
  register: merged_stow_result
